.days-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: end;
  column-gap: 10px;
  height: max-content;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--cream);
}
