.days-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
  justify-items: center;
  align-items: end;
  height: max-content;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--cream);
}
